$primaryColor: #ffd73d;
$primaryColorhover: #e1bd30;
$secondaryColor: #492439;
$secondaryColorhover: #724e63;
$themeFont: 'Nunito', sans-serif;
$themeFont2: 'Poppins', sans-serif;
$themeFont3: 'Baloo', cursive;
$accordionColor1: #724e63;
$accordionColor2: #492439;
