$primaryColor: #ffcc3b !important;
$primaryColorhover: #f8d24a !important;
$secondaryColor: #402734 !important;
$secondaryColorhover: #8d7c86 !important;
$themeFont: 'Nunito', sans-serif;
$themeFont2: 'Poppins', sans-serif;
